/*
Copyright (c) 2003-2010, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/
.yui-h-slider, .yui-v-slider {
	position: relative;
}

.yui-h-slider .yui-slider-thumb, .yui-v-slider .yui-slider-thumb {
	position: absolute;
	cursor: default;
}

.yui-skin-sam .yui-h-slider {
	background: url(bg-h.gif) no-repeat 5px 0;
	height: 28px;
	width: 228px;
}

.yui-skin-sam .yui-h-slider .yui-slider-thumb {
	top: 4px;
}

.yui-skin-sam .yui-v-slider {
	background: url(bg-v.gif) no-repeat 12px 0;
	height: 228px;
	width: 48px;
}

.cke_uicolor_picker .yui-picker-panel {
	background: #e3e3e3;
	border-color: #888;
}

.cke_uicolor_picker .yui-picker-panel .hd {
	background-color: #ccc;
	font-size: 100%;
	line-height: 100%;
	border: 1px solid #e3e3e3;
	font-weight: bold;
	overflow: hidden;
	padding: 6px;
	color: #000;
}

.cke_uicolor_picker .yui-picker-panel .bd {
	background: #e8e8e8;
	margin: 1px;
	height: 200px;
}

.cke_uicolor_picker .yui-picker-panel .ft {
	background: #e8e8e8;
	margin: 1px;
	padding: 1px;
}

.cke_uicolor_picker .yui-picker {
	position: relative;
}

.cke_uicolor_picker .yui-picker-hue-thumb {
	cursor: default;
	width: 18px;
	height: 18px;
	top: -8px;
	left: -2px;
	z-index: 9;
	position: absolute;
}

.cke_uicolor_picker .yui-picker-hue-bg {
	-moz-outline: none;
	outline: 0 none;
	position: absolute;
	left: 200px;
	height: 183px;
	width: 14px;
	background: url(hue_bg.png) no-repeat;
	top: 4px;
}

.cke_uicolor_picker .yui-picker-bg {
	-moz-outline: none;
	outline: 0 none;
	position: absolute;
	top: 4px;
	left: 4px;
	height: 182px;
	width: 182px;
	background-color: #F00;
	background-image: url(picker_mask.png);
}

* html .cke_uicolor_picker .yui-picker-bg {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='picker_mask.png',
		sizingMethod='scale');
}

.cke_uicolor_picker .yui-picker-mask {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

.cke_uicolor_picker .yui-picker-thumb {
	cursor: default;
	width: 11px;
	height: 11px;
	z-index: 9;
	position: absolute;
	top: -4px;
	left: -4px;
}

.cke_uicolor_picker .yui-picker-swatch {
	position: absolute;
	left: 240px;
	top: 4px;
	height: 60px;
	width: 55px;
	border: 1px solid #888;
}

.cke_uicolor_picker .yui-picker-websafe-swatch {
	position: absolute;
	left: 304px;
	top: 4px;
	height: 24px;
	width: 24px;
	border: 1px solid #888;
}

.cke_uicolor_picker .yui-picker-controls {
	position: absolute;
	top: 72px;
	left: 226px;
	font: 1em monospace;
}

.cke_uicolor_picker .yui-picker-controls .hd {
	background: transparent;
	border-width: 0 !important;
}

.cke_uicolor_picker .yui-picker-controls .bd {
	height: 100px;
	border-width: 0 !important;
}

.cke_uicolor_picker .yui-picker-controls ul {
	float: left;
	padding: 0 2px 0 0;
	margin: 0;
}

.cke_uicolor_picker .yui-picker-controls li {
	padding: 2px;
	list-style: none;
	margin: 0;
}

.cke_uicolor_picker .yui-picker-controls input {
	font-size: .85em;
	width: 2.4em;
}

.cke_uicolor_picker .yui-picker-hex-controls {
	clear: both;
	padding: 2px;
}

.cke_uicolor_picker .yui-picker-hex-controls input {
	width: 4.6em;
}

.cke_uicolor_picker .yui-picker-controls a {
	font: 1em arial, helvetica, clean, sans-serif;
	display: block;
	*display: inline-block;
	padding: 0;
	color: #000;
}