<div class="sponsor"><a href="https://weglide.org/" target="_blank"><img src="../../resources/graphics/sponsoren/weglide.png" title="WeGlide"></a></div>
<div class="sponsor"><a href="https://www.birrfeld.ch" target="_blank"><img src="../../resources/graphics/sponsoren/logo_red.png" title="Aero Club Sektion Aargau"></a></div>
<div class="sponsor"><a href="https://rankingdata.fai.org/" target="_blank"><img src="../../resources/graphics/sponsoren/FAI_Gliding145.png" title="Pilot World Ranking"></a></div>
<div class="sponsor"><a href="https://www.segelfliegen.ch" target="_blank"><img src="../../resources/graphics/sponsoren/sfvs.gif" title="Segelflug Verband Schweiz"></a></div>