<div class="sponsor_container">
	<div class="sponsor"><a href="http://shop.vtec.ch" target="_blank"><img src="../../resources/graphics/sponsoren/vtec-avionics.png" title="Vtec Avionics"></a></div>
	<div class="sponsor"><a href="https://weglide.org/" target="_blank"><img src="../../resources/graphics/sponsoren/weglide.png" title="WeGlide"></a></div>
	<div class="sponsor"><a href="https://segelfliegen-magazin.de/" target="_blank"><img src="../../resources/graphics/sponsoren/segelfliegen-magazin.jpeg" title="Segelfliegen Magazin"></a></div>
    <div class="sponsor"><a href="https://www.segelfliegen.ch" target="_blank"><img src="../../resources/graphics/sponsoren/sfvs.gif" title="Segelflug Verband Schweiz"></a></div>
	<div class="sponsor"><a href="https://www.birrfeld.ch" target="_blank"><img src="../../resources/graphics/sponsoren/logo_red.png" title="Aero Club Sektion Aargau"></a></div>
	<div class="sponsor"><a href="https://www.naviter.com/de/" target="_blank"><img src="../../resources/graphics/sponsoren/naviter_200.png" title="Naviter d.o.o.&#10;Planina 3&#10;4000 Kranj&#10;Slowenien&#10;an der RM-Birrfeld im Einsatz!"></a></div>
	<div class="sponsor"><a href="https://igcrankings.fai.org/" target="_blank"><img src="../../resources/graphics/sponsoren/FAI_Gliding145.png" title="Pilot World Ranking"></a></div>
	<div class="sponsor"><a href="https://www.dg-aviation.de/" target="_blank"><img src="../../resources/graphics/sponsoren/dg-logo-web-header.png" title="DG Aviation"></a></div>
	<div class="sponsor"><a href="https://swiss-sailplane.ch/" target="_blank"><img src="../../resources/graphics/sponsoren/SwissSailplanes.png" title="Swiss Sailplane"></a></div>
	
<!--
	<div class="sponsor"><a href="https://www.ag.ch/de/bks/sport_ausserschulische_jugendfoerderung/sportfonds/sportfonds.jsp" target="_blank"><img src="../../resources/graphics/sponsoren/swisslos.jpg"title="Swisslos Sportfonds Aargau"></a></div>
	<div class="sponsor"><a href="https://www.powersports.ch" target="_blank"><img src="../../resources/graphics/sponsoren/Logo_2f.png"title="Friedli Fahrzeuge AG"></a></div>
	<div class="sponsor"><a href="https://www.buerokonzept.ch" target="_blank"><img src="../../resources/graphics/sponsoren/burokonzept-text-logo.png" title="B&uuml;rokonzept Schaller AG"></a></div>
	<div class="sponsor"><a href="https://igcrankings.fai.org/" target="_blank"><img src="../../resources/graphics/sponsoren/FAI_Gliding145.png" border="0" title="Pilot World Ranking"></a></div>
	<div class="sponsor"><a href="https://www.schilling-ag-birr.ch/" target="_blank"><img src="../../resources/graphics/sponsoren/Schilling.jpg" border="0" title="Schilling AG Birr | Gipser Maler Trockenbau Fassaden Sanierung"></a></div>
  	<div class="sponsor"><a href="https://www.avionitec.ch" target="_blank"><img src="../../resources/graphics/sponsoren/avionitec.png" title="Avionitec"></a></div>
    <div class="sponsor"><a href="https://www.flarm.com" target="_blank"><img src="../../resources/graphics/sponsoren/FLARM LOGO RGB.svg" title="FLARM"></a></div>
	<div class="sponsor"><a href="https://www.graf-haustechnik.ch" target="_blank"><img src="../../resources/graphics/sponsoren/graf-haustechnik.png" title="Graf Haustechnik AG"></a></div>
	<div class="sponsor"><a href="https://www.kniebrett.ch" target="_blank"><img src="../../resources/graphics/sponsoren/kniebrett_logo.png" title="kniebrett.ch"></a></div>
	<div class="sponsor"><a href="https://www.naviter.com/de/" target="_blank"><img src="../../resources/graphics/sponsoren/naviter_200.png" title="Naviter d.o.o.&#10;Planina 3&#10;4000 Kranj&#10;Slowenien&#10;an der RM-Birrfeld im Einsatz!"></a></div>
	<div class="sponsor"><a href="https://www.hbl.ch" target="_blank"><img src="../../resources/graphics/sponsoren/HBL.jpg" title="Hypothkarbank Lenzburg"></a></div>
	<div class="sponsor"><a href="https://www.credit-suisse.ch/" target="_blank"><img src="../../resources/graphics/sponsoren/credit_suisse_sp_rgb_fo_100mm.png" title="CreditSuisse AG"></a></div>
	<div class="sponsor"><a href="https://www.milvus.aero/" target="_blank"><img src="../../resources/graphics/sponsoren/MILVUS_Logo_Horizontal_Claim_Blue_RGB.png" title="MILVUS - Segelflugbekleidung"></a></div>
    <div class="sponsor"><a href="https://www.skyguide.ch" target="_blank"><img src="../../resources/graphics/sponsoren/skyguide.png" title="Skyguide"></a></div>

-->
</div>
