/*
Copyright (c) 2003-2010, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/
.cke_skin_v2 .cke_tpl_list {
	border: #dcdcdc 2px solid;
	background-color: #fff;
	overflow: auto;
	width: 100%;
	height: 220px;
}

.cke_skin_v2 .cke_tpl_item {
	margin: 5px;
	padding: 7px;
	border: #eee 1px solid;
	*width: 88%;
}

.cke_skin_v2 .cke_tpl_preview {
	border-collapse: separate;
	text-indent: 0;
	width: 100%;
}

.cke_skin_v2 .cke_tpl_preview td {
	padding: 2px;
	vertical-align: middle;
}

.cke_skin_v2 .cke_tpl_preview .cke_tpl_preview_img {
	width: 100px;
}

.cke_skin_v2 .cke_tpl_preview span {
	white-space: normal;
}

.cke_skin_v2 .cke_tpl_title {
	font-weight: bold;
}

.cke_skin_v2 .cke_tpl_list a:active .cke_tpl_item, .cke_skin_v2 .cke_tpl_list a:hover .cke_tpl_item,
	.cke_skin_v2 .cke_tpl_list a:focus .cke_tpl_item {
	border: #f93 1px solid !important;
	background-color: #fffacd !important;
}

.cke_skin_v2 .cke_tpl_list a:active *, .cke_skin_v2 .cke_tpl_list a:hover *,
	.cke_skin_v2 .cke_tpl_list a:focus * {
	cursor: pointer;
}

.cke_skin_v2 .cke_browser_ie6 .cke_tpl_list a:active, .cke_skin_v2 .cke_browser_ie6 .cke_tpl_list a:hover,
	.cke_skin_v2 .cke_browser_ie6 .cke_tpl_list a:focus {
	background-position: 0 0;
}

.cke_skin_v2 .cke_tpl_list a:active .cke_tpl_item, .cke_skin_v2 .cke_tpl_list a:hover .cke_tpl_item,
	.cke_skin_v2 .cke_tpl_list a:focus .cke_tpl_item {
	border-width: 3px;
}

.cke_skin_v2 .cke_tpl_empty, .cke_tpl_loading {
	text-align: center;
	padding: 5px;
}