html {
	display: flex;
	flex-direction: column;
}
body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #000077;
	display: flex;
	flex-direction: column;
}

div.tn {
	position: absolute;
	top: 60px;
	left: 10px;
	width: 400px;
}

table {
	border-width: 0;
	font-size: 12px;
	line-height: 16px;
	color: #000077;
	padding-top: 0px;
	padding-bottom: 0px;
}

table .rm_no_border {
	color: #ffffff;
	margin-top: 20px;
}

table .rm_todo {
	border-width: 0;
	background-color: #cccccc;
	width: 400px;
}

input {
	font-size: 12px;
	line-height: 18px;
}

textarea {
	font-size: 12px;
	line-height: 18px;
}

img {
	border-width: 0;
	padding: 0;
}

td {
	line-height: 16px;
	padding-left: 1px;
	padding-right: 1px;
}

.td_left {
	text-align: left;
	vertical-align: top;
}

.td_right {
	text-align: right;
}

th {
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 16px;
}

a {
	color: #000077;
	background-color: #c7c7c7;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000077;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000077;
}
.normal a {
	color: #0000bb;
	background-color: #c7c7c7;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000077;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000077;
}
.normal {
	flex:none
} 

a span {
	display: none;
}

a:hover {
	color: #3366CC;
	background-color: #dcdcdc;
}

a:active {
	color: #3366CC;
	background-color: #dcdcdc;
}

a.highslide {
	background-color: white;
	outline: none;
	text-decoration:none;
}

.big_col_block {
	margin: 5px;
	width: 100%;
}

.col_block {
	margin: 5px;
	width: 500px;
	border-right-width: 0px;
	border-right-style: solid;
	border-right-color: #000077;
	display: flex;
	flex-direction: column;
}


.einsatzplan {
	width: 80%;
	border: 0px;
}

.einsatzplan .th_1 {
	background-color: #DCDCDC;
	color: #000077;
	text-align: left;
	width: 50px;
}

.lst_col_block {
	margin: 5px;
	width: 500px;
}

.non {
	background-color: #ffffff;
	border-style: none;
}

.main_block {
	width: 1280px;
}

.main_block	div {
	float: left;
	display: flex;
	flex-direction: column;
}

.rm_logo {
	display:block;
}

.nav {
	font-weight: bold;
	line-height: 20px;
	font-size: 14px;
}

.navlink {
	font-weight: bold;
	color: #000077;
	line-height: 18px;
	text-align: center;
}

.cb {
	font-weight: bolder;
	background-color: gold;
	padding-top: 17px;
	font-size: 60px;
}

.td_1 {
	background-color: #f1f1f1;
}

.td_1 a {
	font-weight: bold;
	display: block;
	border-width: 0px;
}

.td_1_c {
	background-color: #f1f1f1;
	text-align: center;
}
.td_1_c_e {
	text-align: center;
}

.td_1_c_edl {
	text-align: center;
	background-color: Brown;
}

.td_1_c a {
	display: block;
	border-width: 0px;
	align-content: center;
}

.td_1_r {
	background-color: #f1f1f1;
	text-align: right;
}

.td_1_s {
	padding: 20px 5px 20px 5px;
}

.td_ok {
	background-color: #bbffbb;
}

.errormessage, .td_e {
	background-color: orange;
	padding-left: 10px;
	padding-right: 10px;
}
.td_o {
	background-color: lime;
	padding-left: 10px;
	padding-right: 10px;

}

.td_w1 {
	background-color: yellow;
}

.td_w2 {
	background-color: orange;
}

.td_w3 {
	background-color: orangered;
}

.td_e_c {
	background-color: red;
	text-align: center;
}

.td_rn {
	background-color: #f1f1f1;
	font-size: 12px;
	line-height: 18px;
}

.td_mis {
	font-weight: bold;
	background-color: #ffddaa;
}

.th_1 {
	background-color: #DCDCDC;
	color: #000077;
	text-align: left;
}
.th_1_tn {
	padding: 2px 2px;
	margin: 0 0 2px;
	text-decoration: none;
	line-height: 15px;
	font-size: 13px;
}


.th_1 input, .th1 form input {
	background-color: #DCDCDC;
	color: #000077;
	text-align: left;
}

.th_1_c {
	background-color: #DCDCDC;
	color: #000077;
	text-align: center;
}

.th_1_r {
	background-color: #DCDCDC;
	color: #000077;
	text-align: right;
}

.tn a:hover span {
	position: absolute;
	top: -3px;
	left: 420px;
	width: 450px;
	display: block;
	line-height: 25px;
	font-size: 14px;
}

.tn_tbl {
	border: 2px;
	cellspacing: 1px;
}

.sidebar {
	font-weight: bold;
	text-indent: 3px;
	padding: 5px 1px 1px 1px;
}

.sidebarlink {
	font-weight: normal;
	padding: 1px;
	text-indent: 5px;
}

.sidebarlink a {
	display: block;
}

.navlink a {
	display: block;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000077;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000077;
}

.tdlink a {
	display: block;
	border-width: 0px;
}

.rm_end {
	width: 98%;
	margin-top: 5px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000077;
	padding-bottom: 15px;
}

.rm_entry {
	background-color: #eeeeee;
	font-size: 12px;
}

select.rm_entry {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.rm_h1 {
	width: 98%;
	font-size: 18px;
	margin-top: 12px;
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000077;
	color: #000077;
	padding-bottom: 6px;
}

.rm_h2 {
	width: 98%;
	font-size: 14px;
	margin-top: 5px;
	font-weight: bold;
	color: #000077;
	background-color: #f1f1f1;
	padding: 2px;
	line-height: 18px;
}

.rm_h3 {
	width: 98%;
	font-size: 14px;
	margin-top: 15px;
	font-weight: bold;
	color: #000077;
	padding-left: 5px;
}

.rm_text {
	width: 98%;
	font-size: 14px;
	margin-top: 5px;
	line-height: 20px;
	margin-left: 2px;
	margin-right: 2px;
}

.rm_footnote {
	width: 98%;
	font-size: 10px;
	margin-top: 5px;
	line-height: 18px;
	margin-left: 5px;
	margin-right: 5px;
}

.edit {
	font-size: 10px;
	line-height: 14px;
	color: #000077;
}

.navlink a span {
	display: none;
	padding: 0px 2px;
}

.navlink a:hover span {
	display: block;
	position: absolute;
	top: 0px;
	left: 600px;
	width: 250px;
	padding: 5px;
	margin: 10px;
	z-index: 100;
	color: #AAA;
	background: black;
	text-align: center;
}

.rm_sorry {
	line-height: 30px;
	font-weight: bold;
	color: #000077;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 24px;
	text-align: center;
}

.al {
	position: absolute;
	top: 360px;
	left: 490px;
	z-index: 2;
	border: 1px solid #aaa;
	background: #8f8;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 14px;
	font-weight: bold;
}

#tool_tips {
	position: absolute;
	border: 1px solid DarkBlue;
	padding: 2px;
	background-color: Silver;
	visibility: hidden;
	z-index: 100;
	color: black;
}

.Tag {
	font-family: Arial;
	line-height: 28px;
	font-size: 24px;
	font-weight: bold;
}

.ok {
	width: 100px;
	line-height: 27px;
	font-size: 26px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	background-color: lightgreen;
	text-decoration: none;
	color: #000000;
}

.notok {
	width: 100px;
	line-height: 27px;
	font-size: 26px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	background-color: orange;
	text-decoration: none;
	color: #000000;
}

.pfbc-form {
	padding: 5px !important;
	display: inline-block;

}
/*
.pfbc-form, .pfbc-form td {
	font-family: "Arial, Helvetica, sansserif";
	font-size: 12px;
	line-height: 16px;
}
*/
.pfbc-label {
	padding-top: 3px;
}

.pfbc-textbox, .pfbc-textarea, .pfbc-select {
	padding: 2px;
	border: 1px solid #ccc;
}
.pfbc-error {
	width: 1024px;
}
.pfbc-fieldset {
	width: 100%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.pfbc-textbox {
	height: 20px;
}
.pfbc-select {
	height: 26px;
}

.pfbc-small {
	font-size: 9px;
}

.pfbc-loading {
	bottom: 9px !important;
	left: 9px !important;
}

.pfbc-hint {
	color: #dcdcdc;
}

a.pfbc-link {
	text-decoration: none;
}

a.pfbc-link:hover, a.pfbc-link:active {
	text-decoration: underline;
}
/* Styles for Pilot Detail */
.th_pd {
	line-height: 20px;
	font-size: 18px;
	text-align: left;
}

.td_pd {
	text-align: left;
	line-height: 22px;
	font-size: 18px;
}

.wk_pd {
	line-height: 180px;
	font-size: 180px;
	font-weight: bold;
}

#dhtmltooltip {
	position: absolute;
	border: 2px solid black;
	padding: 2px;
	background-color: white;
	visibility: hidden;
	z-index: 100;
}

.tooltip {
	width: 500px;
}

/* sponsor styles */
.sponsor_container {
  	width: 90%;
  	display: flex;
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;
}
.sponsor {
	flex: none;
	padding: 10px;
}
.sponsor a {
	color: #ffffff;
	background-color: #ffffff;
	border-top-style: none;
	border-bottom-style: none;
}
.sponsor a img {
  	max-height: 150px;
	max-width: 250px;
}

.roundshot {
	flex: none;
	padding: 0px 10px 0px 10px;
}
.hnav_container {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	max-width: 1280px;
}

.hnav_item {
	flex: none;
	font-weight: bold;
	line-height: 20px;
	font-size: 14px;
}

.hnav_item a {
	padding: 1px 2px;
  margin: 0px 0px 0px 20px;
}

/* OK Page display rules */
.ok_block {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	gap: 10px 20px;
}

.ok_entry {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;	
	padding: 5px;
	height: 150px;
	width: 250px;
}

.ok_entry > * {
	min-width: 0;
}

.ok_text {
	display: inline-block;
	width: 125px;
	align-content: center;
	text-align: right;
	;
}

.ok_image {
	display: inline-block;
	width: 120px;
	padding-left: 5px;
}

.ok_image img {
	max-height: 150px;
	max-width:  120px;
}

